.App {
  text-align: center;
}

.App-header {
  background-color: lightcoral;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: white;
}

.input-container {
  text-align: start;
  margin-bottom: 1em;
}

.species-input-container {
  display: flex;
  align-items: stretch;
  margin-bottom: 0.5em;
}

.find-button-container > .ui.button {
  margin: 0em 0em 0em 0.5em;
  height: 100%;
}

.variety-input-container {
  margin-bottom: 0.5em;
}

.form-input-container {
  margin-bottom: 0.5em;
}

.history-container {
  text-align: start;
}

.details-container {
  margin-left: 1em;
}

.basic-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
  color: black;
}

.stats-table > h4 {
  text-align: start;
}

.stats-table > .ui.table {
  text-align: center;
}
