footer {
  display: flex;
  justify-content: space-evenly;
}

.App {
  text-align: center;
}

.App-header {
  background-color: lightcoral;
  min-height: 100vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.App-header > :not(:first-child) {
  margin-top: 1em;
}

@media only screen and (max-width: 900px) {
  .App-header {
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: flex-start;
  }

  .App-header > * {
    width: 100%;
  }

  .App-header > :not(:first-child) {
    margin-left: 0em;
    margin-top: 1em;
  }
}
