.basic-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    color: black;
}

.basic-info .species-name {
    margin-bottom: 0.2em;
}

.basic-info .species-order {
    color: grey;
}

.basic-info .type-labels-container > :not(:first-child) {
    margin-left: 0.2em;
}
