.capture-locations-listing-container {
    color: black;
}

.ui.accordion.capture-locations-listing-container > .title {
    text-align: start;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.capture-locations-listing-container .ui.menu {
    display: flex;
}

.capture-locations-listing-container .ui.inverted.pointing.secondary.menu {
    border-top: unset;
    border-left: unset;
    border-right: unset;
}

.capture-locations-listing-container .ui.inverted.pointing.secondary.menu > a.active.item {
    border-bottom: 2px solid white;
}

.capture-locations-listing-container .ui.menu > * {
    flex: 1;
    justify-content: center;
}

.encounters-list-container {
    width: unset;
    max-height: 50vh;
    overflow-y: scroll;
}
