.ui.accordion.efficacy-list-container > .title {
    text-align: start;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.efficacy-list {
    height: 50vh;
    overflow-y: scroll;
}
