.encounters-list {
    color: black;
}

.encounters-list .capture-rate {
    text-align: start;
    font-style: italic;
}

.encounters-list .item > :not(:first-child) {
    margin-top: 0.5em;
}

.encounters-list .item .encounters-header {
    text-align: start;
    font-weight: bold;
}

.encounters-list .item .matched-encounters {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.encounters-list .item .matched-encounters .conditions {
    text-align: end;
    font-style: italic;
}

.encounters-list .item .matched-encounters .conditions .condition-values {
    color: grey;
}

.encounter-name-container > :not(:first-child) {
    margin-left: 0.5em;
}

.encounter-name-container > .ui.label.type-label:not(:first-child) {
    margin-left: 0.5em;
}
