.ui.accordion.evolution-chain-diagram-container {
    color: black;
}

.evolution-chain-diagram {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.evolution-chain-diagram > .chain-link {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.evolution-chain-diagram > .chain-link > .child-links {
    margin-left: 0.5em;
}

.evolution-chain-diagram > .chain-link .link-name {
    margin-top: 0.25em;
    border-top: 1px solid lightgrey;
    padding-top: 0.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.evolution-chain-diagram > .chain-link .link-name > .species-name.current {
    font-weight: bold;
}

.evolution-chain-diagram > .chain-link .link-name > button.ui.button {
    margin-right: 0em;
}

.evolution-chain-diagram .chain-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.evolution-chain-diagram .chain-link.child:not(:first-child) {
    margin-top: 0.25em;
    border-top: 1px solid black;
    padding-top: 0.25em;
}

.evolution-chain-diagram .chain-link.child > :not(:first-child) {
    margin-left: 0.5em;
}

.evolution-chain-diagram .icon-container {
    display: flex;
}

.evolution-chain-diagram .icon-container > i.icon {
    flex: auto;
    margin-right: unset;
}

.evolution-chain-diagram .chain-link > .evolution-details > .evolution-detail:not(:first-child) {
    margin-top: 0.25em;
    border-top: 1px dashed lightgrey;
    padding-top: 0.25em;
}
