.ui.accordion.evolution-chain-diagram-container {
    color: black;
}

.ui.accordion.evolution-chain-diagram-container > .title {
    text-align: start;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.evolution-chain-diagram {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.evolution-chain-diagram > .chain-link > .link-name {
    margin-top: 0.25em;
    border-top: 1px solid lightgrey;
    padding-top: 0.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.evolution-chain-diagram > .chain-link > .link-name > .species-name.current {
    font-weight: bold;
}

.evolution-chain-diagram > .chain-link button.ui.button {
    margin-right: 0em;
}
