.location-selector-container > :not(:first-child) {
    margin-top: 0.5em;
}

.location-selector-dropdown-container {
    display: flex;
}

.location-selector-dropdown-container > :not(:first-child) {
    margin-left: 0.5em;
}

.location-selector-dropdown-container > .ui.button  {
    margin-right: 0em!important;
}

.region-checkbox-container {
    text-align: start;
}

.region-checkbox-container .ui.label.region-count-label.active {
    background-color: lightcoral;
    border-color: lightcoral;
}
