.move-target-indicator {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(2, 50px);

    border: 2px solid gold;
    border-radius: calc(4em / 7);
}

.move-target-indicator.filled {
    background-color: gold;
}

.move-target-indicator > .combatant {
    display: flex;
    align-items: center;
    justify-content: center;
}
