.moves-list-container {
    margin-top: 1em;
    text-align: start;
}

.moves-list {
    height: 50vh;
    overflow-y: scroll;
}

.move-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.move-name-container {
    display: flex;
    align-items: center;
}

.move-type {
    margin-left: 0.5em;
}

.move-content {
    color: black;
}
