.ui.accordion.moves-list-container > .title {
    text-align: start;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.ui.accordion.styled.moves-list {
    width: unset;
    height: 50vh;
    overflow-y: scroll;
}

.move-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.move-name-container {
    display: flex;
    align-items: center;
}

.move-name-container > :not(:first-child) {
    margin-left: 0.5em;
}

.move-content > div {
    text-align: start;
    color: black;
    padding: 0em 1em;
}
