.ui.accordion.moves-list-container > .title {
    text-align: start;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.ui.accordion.styled.moves-list {
    width: unset;
    height: 50vh;
    overflow-y: scroll;
    margin-top: 0.5em;
}

.move-filters-container {
    display: flex;
}

.move-filters-container > * {
    flex: 1;
}

.move-filters-container > :not(:first-child) {
    margin-left: 0.5em;
}


@media only screen and (max-width: 900px) {
    .move-filters-container {
        display: unset;
    }

    .move-filters-container > :not(:first-child) {
        margin-left: 0em;
        margin-top: 0.5em;
    }
}

.move-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.move-name-container {
    display: flex;
    align-items: center;
}

.move-name-container > :not(:first-child) {
    margin-left: 0.5em;
}

.move-content > div {
    text-align: start;
    color: black;
    padding: 0em 1em;
}
