.species-selector-container > :not(:first-child) {
    margin-top: 0.5em;
}

.species-selector-dropdown-container {
    display: flex;
}

.species-selector-dropdown-container > :not(:first-child) {
    margin-left: 0.5em;
}

.species-selector-dropdown-container > .ui.button  {
    margin-right: 0em!important;
}
