.ui.accordion.stats-table-container > .title {
    text-align: start;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.ui.table tr td.stat-header {
    text-align: end;
    font-weight: bold;
}

.ui.progress.stat-bar {
    margin-bottom: 0em;
}
